
@mixin user-select($select) {
  -webkit-user-select: $select;
  -moz-user-select: $select;
  -ms-user-select: $select; // IE10+
  user-select: $select;
}

@mixin singel-ellipsis() {
  overflow: hidden;
  max-height: 100%;
  text-overflow:ellipsis;
  width: 100%;
  white-space: nowrap;

}
@mixin multi-ellipsis($line) {
  overflow: hidden;
  max-height: 100%;
  text-overflow:ellipsis;
  display: -webkit-box;
  -webkit-line-clamp:$line;
  -webkit-box-orient:vertical;
}

